.chartContainer {
  width: 100%;
  height: 250px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  color: var(--text-secondary);
}

@media (min-width: 768px) {
  .chartContainer {
    height: 300px;
  }
  
  .loading {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .chartContainer {
    height: 350px;
  }
  
  .loading {
    height: 350px;
  }
}